/wotreplay-parser.xcodeproj

data/*
!data/Makefile
/doc
.DS_Store
/obj
/maps
/replays
CMakeFiles
CMakeCache.txt
cmake_install.cmake
build
test
ext/boost*
/_msvc/Release
/_msvc/Debug
/_msvc/*.db
/_msvc/*.user
/_msvc/*.vs
/_msvc/*.opendb
